.formulario{
    width: 95%;
}
.user-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 2em;
    width: 90%;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 12pt;
    padding: 5px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
[type = submit]{
    border-radius: 5px !important;
    background-color: #1A1B2F;
    color: #FFB423;
    border: none;
    cursor: pointer;
    width: 91%;
    height: 3.5em;
    font-size: 12pt;
}
input[type = submit]:hover{
    background-color: rgb(230, 154, 13);
}
/*input:focus{
    border: 2px solid green;
    border-color: green;
    transition: 1s;
}*/
span{
    font-family: Arial;
}
h3{
    font-weight: 600;
}