@media screen and (max-width: 730px){
    .corpo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    
    /*Cards*/
    .dadosuser{
        background-color: #fff;
        width: 95%;
        height: 30vh;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cards{
        width: 95%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card1, 
    .card2, 
    .card3, 
    .card4{
        background-color: #fff;
        height: 30vh;
        width: 45%;
        margin-right: 7px;
        border-radius: 5px;
        margin-bottom: 7px;
        padding: 5px;
    }
    .bvmt *{
        display: none;
    }
    
    /*datalhes dos cards*/
    
    /*Daos do usuário*/
    .dadosuser .dados{
        width: 85%;
    }
    .dadosuser img{
        width: 50px;
        border-radius: 50px;
        height: 50px;
    }
    
    .card1, 
    .card2, 
    .card3, 
    .card4{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    
    .card1 img, 
    .card2 img, 
    .card3 img, 
    .card4 img{
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    .vernotas, 
    .veranuncios{
        color: #FFB423;
        background-color: #1A1B2F;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
    
    .vercantina, 
    .verlivros{
        color: #1A1B2F;
        background-color:#FFB423;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
    .editar{
        display: none;
    }
    
}

@media screen and (min-width: 730px){
    .corpo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    
    /*Cards*/
    .dadosuser{
        background-color: #fff;
        width: 90%;
        height: 30vh;
        padding-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px solid #1A1B2F;
        box-shadow: 0 10px 5px -7px gray;
    }
    
    .cards{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        height: 100vh;
    }
    
    .card1, 
    .card2, 
    .card3, 
    .card4{
        background-color: #e2e2e2;
        height: 30vh;
        width: 25%;
        margin-right: 7px;
        cursor: pointer;
        padding: 5px;
        transition: 200ms;
        border-bottom: 10px solid #1A1B2F;
    }

    .card2:hover, 
    .card3:hover, 
    .card1:hover, 
    .card4:hover{
        border-bottom: 10px solid #c48509;
    }
    /*datalhes dos cards*/
    /*cards brevimente*/
    .bvmt{
        background-color: #e2e2e2;
        height: 30vh;
        width: 25%;
        margin-right: 7px;
        cursor: pointer;
        padding: 5px;
        transition: 200ms;
        border-bottom: 10px solid #e2e2e2;
        filter: opacity(.6);
    }
    .bvmt img{
        filter: grayscale(100);
    }
    .bvmt:hover{
        background-color: #bdbbbb;
        border-bottom: 10px solid #bdbbbb;
    }    
    /*Daos do usuário*/
    .dadosuser .dados{
        width: 85%;
    }
    .dadosuser .picture{
        width: 40%;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .editar{
        margin-top: 20px;
    }
    .editar a:hover{
        background-color: #c48509;
    }
    .editar a{
        color: #1A1B2F;
        background-color: #FFB423;
        cursor: pointer;
        text-align: center;
        padding: 5px 10px;
        transition: 600ms;
        border-radius: 5px;
    }
    .dadosuser img{
        width: 50px;
        border-radius: 50px;
        height: 50px;
    }
    
    .card1, 
    .card2, 
    .card3, 
    .card4, 
    .bvmt{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    
    .card1 img, 
    .card2 img, 
    .card3 img, 
    .card4 img{
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    .vernotas, .veranuncios{
        color: #FFB423;
        background-color: #1A1B2F;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
    
    .vercantina, .verlivros{
        color: #1A1B2F;
        background-color:#FFB423;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
}